m-project
# Dependencies
node_modules
.pnpm-store

# Build
dist
*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Env (仅忽略local文件)
.env.local
.env.*.local
!.env.example
!.env.development
!.env.test
!.env.production

# Cache
.eslintcache
.cache
